
code/__pycache__/config_frame.cpython-39.pyc
code/__pycache__/presnt_frame.cpython-39.pyc
code/__pycache__/study_cards_app.cpython-39.pyc
code/__pycache__/constants.cpython-39.pyc
code/study_cards_app.py~
code/config_frame.py~
data/work_file_1002 - Save.txt
data/work_file_1004.txt
data/Food_set.txt
